name: Tests

on:
  push:
    branches: [ main ]
    paths-ignore:
      - 'pretix_extended_api/locale/**'
  pull_request:
    branches: [ main, master ]
    paths-ignore:
      - 'pretix_extended_api/locale/**'

jobs:
  test:
    runs-on: ubuntu-latest
    name: Tests
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9.9
      - uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/poetry.lock') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install system dependencies
        run: sudo apt update && sudo apt install gettext
      - name: Install pretix
        run: pip3 install pretix
      - name: Install Dependencies
        run: pip3 install pytest pytest-django
      - name: Run checks
        run: pytest tests
